/* Global Styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: black;
}

/* header */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 60px;
}

.logo {
    height: 70%;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 600px;
    gap: 10px;
    padding: 5px;
}

.search .homeButton {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    padding-top: 10px;
    text-align: center;
    background-color: #1f1f1f;
}

.search .homeButton .homeImg {
    height: 24px;
    width: 24px;
    fill: rgb(255, 255, 255);
}

.search .searchbar {
    background-color: #1f1f1f;
    width: 80%;
    height: 40px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    box-sizing: content-box;
    gap: 10px;

    color: white;
    padding: 0px 10px;
}

.search .searchbar>div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px 5px;
}

.search .searchbar .bar {
    height: 60%;
    outline: 1px solid white;
    padding: 0px;
}

.search .searchbar .textBox {
    width: 100%;
    height: 90%;
}

.search .searchbar .textBox input {
    background-color: #1f1f1f;
    border: none;

    height: 100%;
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    color: white;
}

#SearchInput::placeholder {
    font-size: 16px;
}

#SearchInput:focus {
    outline: none;
    border: none;
}

.buttons {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.buttons button {
    color: #a9a9a9;
}

.buttons .leftSideBtns,
#signUp {
    background-color: black;
    border: none;
    margin: 0px 5px;
    font-size: 17px;
    font-weight: bold;
}

.buttons .leftSideBtns:hover,
#signUp:hover {
    color: white;
    transform: scale(1.05);
}

.buttons #bar {
    margin: -6px 30px 0px 15px;
    background-color: black;
    border: none;
    font-size: 30px;
}

.buttons #Login {
    width: 100px;
    height: 110%;

    margin: 0px 10px;

    border: none;
    border-radius: 100px;

    color: black;

    font-size: 20px;
    font-weight: bold;
}

.buttons #Login:hover {
    background-color: rgb(230, 230, 230);
    transform: scale(1.05);
}

/* Main Content */
main {
    width: 100%;
    margin: 2px 0px;
    display: grid;
}

.MainLeft {
    background-color: #121212;
    border-radius: 10px;
    margin: 10px 5px 5px 10px;
}

.MainRight {
    background-color: #121212;
    border-radius: 10px;
    margin: 10px 10px 5px 5px;
}

.LeftCon {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.LeftCon .head .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px;
}

.LeftCon .head .heading .img {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 9px;
    border-radius: 18px;
}

.LeftCon .head .heading .img:hover {
    background-color: #1f1f1f;
}

.LeftCon .head .heading img {
    width: 15px;
    filter: invert(1);
}

.LeftCon .head .card {
    background-color: #1f1f1f;
    margin: 20px 0px;
    padding: 10px 10px;
    border-radius: 15px;
}

.LeftCon .head .card>h3,
.LeftCon .head .card>p,
.LeftCon .head .card>button {
    margin: 5px 0px;
}

.LeftCon .head .card button {
    margin: 10px 5px;
    padding: 7px 10px;
    border-radius: 25px;
    border: none;
}

.LeftCon .head .card button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 20px rgb(176, 176, 176) inset;
    cursor: pointer;
}

.LeftCon .foot ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.LeftCon .foot ul li {
    list-style: none;
    font-size: 12px;
    margin: 5px;
}

.LeftCon .foot>h4 {
    margin: 15px;
}

.LeftCon .foot>h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.LeftCon .foot .button {
    background-color: #121212;
    color: white;
    border-radius: 25px;
    border: 1px solid white;

    display: flex;
    align-items: center;
    gap: 5px;

    padding: 10px 20px;
    margin: 20px 10px;
}

.LeftCon .foot .button img {
    width: 20px;
    filter: invert(1);
}

.LeftCon .foot .button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.MainRight {
    overflow: auto;
}

.MainRight::-webkit-scrollbar {
    width: 6px;
}

.MainRight::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 8px;
}

/* Sections Styles that will be appended from javaScript */
.section {
    color: white;
}

.section .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.section .header button {
    background-color: #121212;
    border: none;
    color: #a9a9a9;
    font-size: 16px;
}

.section .header button:hover,
.section .header h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section .footer {
    padding: 0px 10px;
    overflow: hidden;
    position: relative;
}

.section .footer .slider {
    display: flex;
    align-items: flex-start;
}

.section .footer .ArrowBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4b4b4b;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40%;
    display: none;
}

.next {
    right: 30px;
}

.prev {
    left: 30px;
    transform: rotate(180deg);
}

.next:hover {
    background-color: rgb(112, 112, 112);
    transform: scale(1.05);
}

.prev:hover {
    background-color: rgb(112, 112, 112);
    transform: scale(1.05) rotate(180deg);
}

/* Box Styles that will be appended from javaScript */
.box {
    width: 200px;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 1px;
}

.box .img {
    overflow: hidden;
    position: relative;
}

.box .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.box .title {
    font-size: 17px;
    margin: 5px 0px;
}

.box .info {
    font-size: 14px;
    margin: 5px 0px;
    color: #a9a9a9;
    max-height: 40px;
    overflow: hidden;
    line-height: 19px;
}

.box:hover {
    background-color: rgb(52, 52, 52, 0.5);
}

.box .title:hover,
.box span:hover {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes PlayButtonAnim {
    0% {
        transform: translateY(30px);
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.box .img .PlayButton {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    bottom: 15px;
    right: 10px;
    animation: PlayButtonAnim 500ms ease-out normal forwards;
    display: none;
}

.box .img .PlayButton img {
    height: 100%;
}

/* Section Break */
.sectionBreak {
    width: 95%;
    margin: 50px auto;
    height: 2px;
    border: none;
    background-color: #262626;
}

/* Links in the Bottom Section */
.links {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 10px 40px;
}

.platFormLinks {
    display: flex;
}

.platFormLinks div {
    width: 50px;
    height: 50px;
    background-color: #292929;
    margin: 10px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.platFormLinks div:hover {
    background-color: #727272;
}

.platFormLinks img {
    height: 100%;
    width: 100%;
}

.pageLinks {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.pageLinks .list {
    margin: 10px 30px;
}

.pageLinks .list h2 {
    margin: 0px 10px;
}

.pageLinks .list ul {
    padding: 10px;
}

.pageLinks .list li {
    list-style: none;
    margin: 10px 0px;
    color: #a9a9a9;
}

.pageLinks .list li:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* last footer in main right Container */
.copyright {
    color: #b8b8b8;
    margin: 40px;
    font-size: 13px;
}

/* Footer */
footer {
    width: 100%;
    height: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background: linear-gradient(to right, #ae2896, #519af4);

    padding: 5px 20px;
}

footer p {
    font-size: 15px;
}

footer button {
    padding: 15px 20px;
    margin: 0px 10px;

    font-size: 17px;
    font-weight: 600;

    border: none;
    border-radius: 50px;
}

@media screen and (min-width:0px) and (max-width:4000px) {
    main {
        grid-template-columns: 25% 75%;
    }
}

@media screen and (min-width:0px) and (max-width:1920px) {
    .MainLeft .LeftCon .foot ul {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width:0px) and (max-width:1400px) {
    main {
        grid-template-columns: auto auto;
    }

    .MainLeft .LeftCon .foot ul {
        grid-template-columns: auto;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }

    .links .pageLinks .list {
        margin: 10px;
    }
}

@media screen and (min-width:0px) and (max-width:1200px) {
    .container .search {
        width: 450px;
    }

    .container .buttons button {
        font-size: 15px;
    }

    .links {
        flex-direction: column;
    }

    .links .platFormLinks {
        align-self: flex-end;
    }
}

@media screen and (min-width:0px) and (max-width:1000px) {

    .container .buttons .leftSideBtns,
    #bar {
        display: none;
    }

    .MainRight .links .pageLinks {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width:0px) and (max-width:820px) {
    .container>img {
        display: none;
    }

    main {
        grid-template-columns: auto;
    }

    .MainLeft {
        display: none;
    }

    .links {
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
    }

    .links .pageLinks {
        grid-template-columns: auto auto auto auto;
    }

    .links .platFormLinks {
        flex-direction: column;
        align-self: unset;
    }

    header {
        margin: 0px;
    }

    main {
        margin: 0px;
    }

    footer p {
        font-size: 12px;
    }

    footer button {
        padding: 10px;
        font-size: 12px;
    }
}

@media screen and (min-width:0px) and (max-width:620px) {
    .links .pageLinks {
        grid-template-columns: auto auto;
    }

    .container .search {
        width: auto;
    }

    .search .searchbar {
        display: none;
    }

    .box {
        width: 160px;
    }
}

@media screen and (min-width:0px) and (max-width:500px) {
    .container .buttons {
        padding-right: 0px;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .links .platFormLinks {
        flex-direction: row;
    }

    footer .button {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 17px;
    }

    .box {
        width: 120px;
    }

    .box .title {
        font-size: 15px;
    }
}

@media screen and (min-height:0px) and (max-height:750px) {
    .MainLeft .foot {
        display: none;
    }
}

@media screen and (min-height:0px) and (max-height:600px) {
    main {
        grid-template-columns: auto;
    }

    .MainLeft {
        display: none;
    }
}